@{
    ViewData["Title"] = "ToDo";
}
<h1>Todos</h1>

<form class="add-items">
    <input type="text" class="form-control" id="todo-list-item" placeholder="What do you need to do today?">
    <button class="add" type="submit">Add to List</button>
</form>
<ul id="list-items"></ul>